body {
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}


.nav__content-bg {
    border-bottom: 1px solid #EBE8F4;

}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;        
}

.nav__logo   {
    color: #22202E;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: normal;
}


.nav__list-items {
    display: flex;
    list-style: none;
    column-gap: 44px;    
}

.nav__list-items a {
    color: #726E8D;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: normal;
}

.nav__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    
}

.search-icon {
    height:16px;
    width: 16px;
    background-image: url('../img/search.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.basket-icon {
    min-height:16px;
    min-width: 16px;
    background-image: url('../img/shopping--cart.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-icon {
    min-height:16px;
    min-width: 16px;
    background-image: url('../img/user--avatar.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

}

.header__title-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    color: #2A254B;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 24px;
}

.header__filters-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 400px; 
    padding: 8px 24px;   
}

.header__drop-list1 {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
}

.header__drop-list2 {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
}

select, optgroup, option {
    color: #2A254B;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

label {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    outline: none;
    
}

.select-wrapper {
    position: relative;
    padding: 12px 48px 12px 24px;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #2a254b transparent transparent transparent;
}

.main__cards-wrappers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 510px;
    column-gap: 20px;
}

.item-name {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.4;
    padding-top: 20px;   
}

.item-price {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.5;

}

.main__button {
    display: flex; 
    max-width: 100%;
    min-height: 56px;
    width: max-content;
    background-color: #F9F9F9;
    justify-content: center;
    align-items: center;
    
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
        
    padding: 16px 32px;
    margin: 0 auto;
    margin-bottom: 40px
}

.join {
    display: flex;
    min-height: fit-content;
    max-width: 100%;    
}

.join__background {
    background-image: url('../img/join-background.jpg');
    background-position: center center;
    background-size: cover;
    width: 50%;
}

.join__content {
    width: 50%;
    color:#2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
    padding-left: 49px;  
}

.join__title {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
    line-height: normal;
    margin-top: 71px;
    margin-bottom: 21px;
}

.join__content p {
    max-height: 264px;
    max-width: 470px;
}

.join__button {
    display: flex; 
    max-width: 100%;
    min-height: 56px;
    width: max-content;
    background: #2A254B;
    justify-content: center;
    align-items: center;
    
    padding: 16px 32px;
    margin-top: 216px;
    margin-bottom: 70px;
    margin-left: 23px;
    
    
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;    
}


.footer {
    background-color: #2A254B;
}

.footer__wrapper { 
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: normal;

}

.footer__content {
    display: flex;
    min-height: fit-content;
    max-width: 100%;
    padding: 58px 0;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: normal;
}

.footer__nav-lists {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);   
}

.footer__nav-list1 {
    display: flex;
    min-height: 175px;
    align-items: flex-start;
    row-gap: 20px;
}

.list li {
    padding-bottom: 12px;  
}

.list a {
    color: #FFF;
}

.list__name {
    font-family: Montserrat;
    font-size: 16px;
}

.footer__map {
    width: 50%; 
}

.footer__copyright {
    display: flex;
    max-height: 68px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4E4D93;
    padding: 22px 0;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}

.footer__icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    gap: 24px;
}

.Logo-linkedin {
    background-image: url('../img/logo--linkedin.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;   
}

.Logo-facebook {
    background-image: url('../img/logo--facebook.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;  
}

.Logo-instagram {
    background-image: url('../img/logo--instagram.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.Logo-skype {
    background-image: url('../img/logo--skype.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;    
}

.Logo-pinterest {
    background-image: url('../img/logo--pinterest.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;    
}
